In [ ]:
# df = num_rowd.copy()
# df['year'] = df.recordtime.dt.year
# df['quarter'] = df.recordtime.dt.to_period('Q').dt.strftime('%q').astype(int)
# df['monthly'] = df.recordtime.dt.strftime('%B')
# df['weekly'] = df.recordtime.dt.strftime('%W').astype(int)
# df['daily'] = df.recordtime.dt.date

# df.head(10)

In [43]:
import numpy as np
import pandas as pd
import dataset as ds

from datetime import datetime

In [44]:
num_rowd = ds.dbNumCrowd()

In [51]:
def filter_data(data, store, date = None, year = None, week = None, month = None, quarter = None):
    print(f'{ date } - { type(date) }')
    print(f'{ week } - { type(week) }')
    print(f'{ month } - { type(month) }')
    print(f'{ quarter } - { type(quarter) }')
    print(f'{ year } - { type(year) }')

    if date:
        print('Daily')
        data = data[data.recordtime.dt.date == date]
    else:
        print('Yearly')
        data = data[data.recordtime.dt.year == year]
        if isinstance(week, int):
            print('Weekly')
            data = data[data.recordtime.dt.strftime('%W').astype(int) == week]
        elif month:
            print('Monthly')
            data = data[data.recordtime.dt.strftime('%B') == month]
        elif isinstance(quarter, int):
            print('Quarter')
            data = data[data.recordtime.dt.to_period('Q').dt.strftime('%q').astype(int) == quarter]
    
    if store > 0:
        data = data[data.storeid == store]

    return data.sort_values(by = 'recordtime', ascending = True).reset_index(drop = True)

In [47]:
option = ['Daily', 'Weekly', 'Monthly', 'Quarter', 'Yearly']

# 'Daily', 'Weekly', 'Monthly', 'Quarter', 'Yearly'
def set_variables(df, store_selected = 0, option_selected = 'Daily'):
    data = df.copy()
    date_selected, week_selected, month_selected, quarter_selected, year_selected = None, None, None, None, None

    if option_selected == 'Daily':
        date_selected = datetime(2022, 6, 2).date()
    else:
        year_selected = 2023
        if option_selected == 'Weekly':
            week_selected = 0
        elif option_selected == 'Monthly':
            month_selected = 'January'
        elif option_selected == 'Quarter':
            quarter_selected = 1

    return df, store_selected, date_selected, week_selected, month_selected, quarter_selected, year_selected

variables = set_variables(num_rowd.copy(), option_selected = option[1])

data = variables[0]
store_selected = variables[1]
date_selected = variables[2]
week_selected = variables[3]
month_selected = variables[4]
quarter_selected = variables[5]
year_selected = variables[6]

In [52]:
temp = filter_data(data, store_selected, date_selected, year_selected, week_selected, month_selected, quarter_selected)

temp

None - <class 'NoneType'>
0 - <class 'int'>
None - <class 'NoneType'>
None - <class 'NoneType'>
2023 - <class 'int'>
Yearly
Weekly

,recordtime,in_num,out_num,position,storeid
0,2023-01-01 00:01:00,1,0,Parking,36
1,2023-01-01 00:02:00,2,15,Parking,37
2,2023-01-01 00:06:00,1,0,Parking,36
3,2023-01-01 00:07:00,6,16,Parking,37
4,2023-01-01 00:11:00,0,1,Parking,36
...,...,...,...,...,...
2130,2023-01-01 23:44:00,1,1,Parking 2,28
2131,2023-01-01 23:45:00,3,21,Parking,37
2132,2023-01-01 23:46:00,2,2,Parking 2,28
2133,2023-01-01 23:50:00,3,24,Parking,37
2134,2023-01-01 23:55:00,1,23,Parking,37

In [64]:
# d = datetime(2023, 3, 2).date()

pd.date_range(datetime.combine(datetime(2023, 3, 21), datetime.min.time()), 
              datetime.combine(datetime(2023, 3, 21), datetime.max.time()), freq = '15min')

# https://www.appsloveworld.com/pandas/100/54/sum-based-on-date-range-in-two-separate-columns

DatetimeIndex(['2023-03-21 00:00:00', '2023-03-21 00:15:00',
               '2023-03-21 00:30:00', '2023-03-21 00:45:00',
               '2023-03-21 01:00:00', '2023-03-21 01:15:00',
               '2023-03-21 01:30:00', '2023-03-21 01:45:00',
               '2023-03-21 02:00:00', '2023-03-21 02:15:00',
               '2023-03-21 02:30:00', '2023-03-21 02:45:00',
               '2023-03-21 03:00:00', '2023-03-21 03:15:00',
               '2023-03-21 03:30:00', '2023-03-21 03:45:00',
               '2023-03-21 04:00:00', '2023-03-21 04:15:00',
               '2023-03-21 04:30:00', '2023-03-21 04:45:00',
               '2023-03-21 05:00:00', '2023-03-21 05:15:00',
               '2023-03-21 05:30:00', '2023-03-21 05:45:00',
               '2023-03-21 06:00:00', '2023-03-21 06:15:00',
               '2023-03-21 06:30:00', '2023-03-21 06:45:00',
               '2023-03-21 07:00:00', '2023-03-21 07:15:00',
               '2023-03-21 07:30:00', '2023-03-21 07:45:00',
               '2023-03-21 08:00:00', '2023-03-21 08:15:00',
               '2023-03-21 08:30:00', '2023-03-21 08:45:00',
               '2023-03-21 09:00:00', '2023-03-21 09:15:00',
               '2023-03-21 09:30:00', '2023-03-21 09:45:00',
               '2023-03-21 10:00:00', '2023-03-21 10:15:00',
               '2023-03-21 10:30:00', '2023-03-21 10:45:00',
               '2023-03-21 11:00:00', '2023-03-21 11:15:00',
               '2023-03-21 11:30:00', '2023-03-21 11:45:00',
               '2023-03-21 12:00:00', '2023-03-21 12:15:00',
               '2023-03-21 12:30:00', '2023-03-21 12:45:00',
               '2023-03-21 13:00:00', '2023-03-21 13:15:00',
               '2023-03-21 13:30:00', '2023-03-21 13:45:00',
               '2023-03-21 14:00:00', '2023-03-21 14:15:00',
               '2023-03-21 14:30:00', '2023-03-21 14:45:00',
               '2023-03-21 15:00:00', '2023-03-21 15:15:00',
               '2023-03-21 15:30:00', '2023-03-21 15:45:00',
               '2023-03-21 16:00:00', '2023-03-21 16:15:00',
               '2023-03-21 16:30:00', '2023-03-21 16:45:00',
               '2023-03-21 17:00:00', '2023-03-21 17:15:00',
               '2023-03-21 17:30:00', '2023-03-21 17:45:00',
               '2023-03-21 18:00:00', '2023-03-21 18:15:00',
               '2023-03-21 18:30:00', '2023-03-21 18:45:00',
               '2023-03-21 19:00:00', '2023-03-21 19:15:00',
               '2023-03-21 19:30:00', '2023-03-21 19:45:00',
               '2023-03-21 20:00:00', '2023-03-21 20:15:00',
               '2023-03-21 20:30:00', '2023-03-21 20:45:00',
               '2023-03-21 21:00:00', '2023-03-21 21:15:00',
               '2023-03-21 21:30:00', '2023-03-21 21:45:00',
               '2023-03-21 22:00:00', '2023-03-21 22:15:00',
               '2023-03-21 22:30:00', '2023-03-21 22:45:00',
               '2023-03-21 23:00:00', '2023-03-21 23:15:00',
               '2023-03-21 23:30:00', '2023-03-21 23:45:00'],
              dtype='datetime64[ns]', freq='15T')