In [93]:
import numpy as np
import pandas as pd
import refesh_data as db

from datetime import datetime

In [29]:
def getNumCrowd():
    return db.dbNumCrowd()

db_store = getNumCrowd()

In [ ]:
# Daily:   [y = None, d = '2023-03-10', w = None                 , m = None   , q = None]
# Weekly:  [y = 2023, d = None        , w = 'WK1 (01/01 - 01/01)', m = None   , q = None]
# Monthly: [y = 2023, d = None        , w = None                 , m = 'April', q = None]
# Quarter: [y = 2023, d = None        , w = None                 , m = None   , q = 2   ]
# Yearly:  [y = 2023, d = None        , w = None                 , m = None   , q = None]

# 2023-04-20 - <class 'datetime.date'>
# WK1 (01/01 - 01/01) - <class 'str'>
# April - <class 'str'>
# 2 - <class 'int'>
# 2023 - <class 'int'>

In [53]:
def filter_data(data, store, d = None, w = None, m = None, q = None, y = None):
    if (not y) and d:
        # print('Daily')
        data = data[data.recordtime.dt.date == d]
    else:
        data = data[data.recordtime.dt.year == y]
        if w:
            print('Weekly')
        elif m:
            # print('Monthly')
            data = data[data.recordtime.dt.strftime('%B') == m]
            
        elif q:
            # print('Quarter')
            data = data[data.recordtime.dt.to_period('Q').dt.strftime('%q').astype(int) == q]

    return data

In [57]:
data = db_store.copy()

# d = datetime.strptime('2023-03-17', '%Y-%m-%d').date()
# df_daily = filter_data(data, 'All', d = d)
# df_daily

df_weekly = filter_data(data, 'All', w = 'WK1 (01/01 - 01/01)', y = 2023)
df_weekly

# df_monthly = filter_data(data, 'All', m = 'April', y = 2023)
# df_monthly

# df_quarter = filter_data(data, 'All', q = 4, y = 2022)
# df_quarter

# df_yearly = filter_data(data, 'All', y = 2021)
# df_yearly

,recordtime,in_num,out_num,position,storeid
1111611,2021-10-19 08:11:00,0,1,HighLand,33
1111612,2021-10-19 08:15:00,0,2,HighLand,33
1111615,2021-10-19 08:19:00,4,1,Parking,37
1111623,2021-10-19 08:14:00,3,0,Phu,35
1111629,2021-10-19 08:23:00,0,1,HighLand,33
...,...,...,...,...,...
2069421,2021-12-31 23:21:00,0,3,Parking,36
2069422,2021-12-31 23:26:00,0,6,Parking,36
2069423,2021-12-31 23:31:00,0,3,Parking,36
2069424,2021-12-31 23:36:00,0,1,Parking,36
2069425,2021-12-31 23:46:00,1,3,Parking,36

In [ ]:
df = db_store.copy()

In [113]:
df = db_store.tail(205600).copy()
df['w'] = df['recordtime'].dt.strftime('%V').astype(int)
# df['s'] = df['w'].shift(1)
# df['week_num'] = np.where(df['s'].isna(), 1, df['w'] + 1)
# group = df.groupby('week_num').agg({'recordtime': ['min', 'max']}).reset_index()
# group['week'] = 'WK' + group['week_num'].astype(str) + \
#                 ' (' + group['recordtime']['min'].dt.strftime('%d/%m') + \
#                 ' - ' + group['recordtime']['max'].dt.strftime('%d/%m') + ')'

# df['week'] = df['recordtime'].dt.isocalendar().week

df.head()

,recordtime,in_num,out_num,position,storeid,w
2781231,2023-01-01 11:21:00,3,3,Parking 5,32,52
2781232,2023-01-01 11:28:00,6,3,Parking 2,28,52
2781233,2023-01-01 11:44:00,16,15,HighLand,33,52
2781234,2023-01-01 11:23:00,3,3,Parking 5,32,52
2781235,2023-01-01 11:40:00,10,1,Floor 04,31,52

In [ ]:
def getWeekNums(year):
    start_date = '1/1/' + year
    end_date = '31/12/' + year
    data = pd.date_range(start = start_date, end = end_date, freq = 'D')

    df = pd.DataFrame(data, columns = ['date'])

    df['w'] = df['date'].dt.strftime('%V').astype(int)
    df['s'] = df['w'].shift(1)
    df['week_num'] = np.where(df['s'].isna(), 1, df['w'] + 1)
    group = df.groupby('week_num').agg({'date': ['min', 'max']})#.reset_index()
    group['week'] = group['w'].astype(str) + \
                    ' (' + group['date']['min'].dt.strftime('%d/%m') + \
                    ' - ' + group['date']['max'].dt.strftime('%d/%m') + ')'

    # return group['week'].to_list()
    return group

df = getWeekNums('2023')
df

/var/folders/44/x_bsc3xn6vv4xqj9s0vfp7l80000gn/T/ipykernel_38598/1231171175.py:4: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  data = pd.date_range(start = start_date, end = end_date, freq = 'D')

               date
                min        max
week_num
1        2023-01-01 2023-01-01
2        2023-01-02 2023-01-08
3        2023-01-09 2023-01-15
4        2023-01-16 2023-01-22
5        2023-01-23 2023-01-29
6        2023-01-30 2023-02-05
7        2023-02-06 2023-02-12
8        2023-02-13 2023-02-19
9        2023-02-20 2023-02-26
10       2023-02-27 2023-03-05
11       2023-03-06 2023-03-12
12       2023-03-13 2023-03-19
13       2023-03-20 2023-03-26
14       2023-03-27 2023-04-02
15       2023-04-03 2023-04-09
16       2023-04-10 2023-04-16
17       2023-04-17 2023-04-23
18       2023-04-24 2023-04-30
19       2023-05-01 2023-05-07
20       2023-05-08 2023-05-14
21       2023-05-15 2023-05-21
22       2023-05-22 2023-05-28
23       2023-05-29 2023-06-04
24       2023-06-05 2023-06-11
25       2023-06-12 2023-06-18
26       2023-06-19 2023-06-25
27       2023-06-26 2023-07-02
28       2023-07-03 2023-07-09
29       2023-07-10 2023-07-16
30       2023-07-17 2023-07-23
31       2023-07-24 2023-07-30
32       2023-07-31 2023-08-06
33       2023-08-07 2023-08-13
34       2023-08-14 2023-08-20
35       2023-08-21 2023-08-27
36       2023-08-28 2023-09-03
37       2023-09-04 2023-09-10
38       2023-09-11 2023-09-17
39       2023-09-18 2023-09-24
40       2023-09-25 2023-10-01
41       2023-10-02 2023-10-08
42       2023-10-09 2023-10-15
43       2023-10-16 2023-10-22
44       2023-10-23 2023-10-29
45       2023-10-30 2023-11-05
46       2023-11-06 2023-11-12
47       2023-11-13 2023-11-19
48       2023-11-20 2023-11-26
49       2023-11-27 2023-12-03
50       2023-12-04 2023-12-10
51       2023-12-11 2023-12-17
52       2023-12-18 2023-12-24
53       2023-12-25 2023-12-31